# Compiled Diderot Files
*.log
# Created nrrds:
*.nrrd

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# macOS finder
.DS_Store

# SML/NJ
.cm/

# Makefile dependencies
.depend

#Specific files created in config:
config/config_h.in
doc/src/man/Makefile
src/compiler/common/paths.sml
src/lib/build/mk/build.gmk
src/lib/include/diderot/config.h
Makefile
autom4te.cache/
config.status
config/config_h.in~
configure
bin/.heap/*
bin/diderotc
include/*
src/compiler/codegen/fragments.gmk
src/compiler/codegen/fragments.sml
src/compiler/cxx-util/fragments.gmk
src/compiler/cxx-util/fragments.sml
src/compiler/diderotc.x86-linux
src/compiler/parser/diderot-1.0.grm.sml
src/compiler/parser/diderot-1.0.lex.sml
src/compiler/parser/diderot-3.0.grm.sml
src/compiler/parser/diderot-3.0.lex.sml
src/compiler/parser/diderot.grm.sml
src/compiler/parser/diderot.lex.sml
src/compiler/target-cpu/fragments.gmk
src/compiler/target-cpu/fragments.sml

#emacs:
*.~undo-tree~