# Compiled Diderot Files
*.log
# Created nrrds:
*.nrrd

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# macOS finder
.DS_Store

# SML/NJ
.cm/

# Makefile dependencies
.depend

#Specific files created in config:
config/config_h.in
doc/src/man/Makefile
src/compiler/common/paths.sml
src/lib/build/mk/build.gmk
src/lib/include/diderot/config.h
Makefile
autom4te.cache/
config.status
config/config_h.in~
configure
